@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fafafa;
  --fg: #1f1f1f;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
}
